* {
  box-sizing: border-box;
}

body {
  background-color: #623930;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  border: 1px;
  padding: 20px;
  width: 700px;
  margin: 40px auto;
  background-color: #D7AD7E;
  box-shadow: 20px 20px #40251f;
}

img.chocolate {
  width: 50%;
  display: block;
  margin: auto auto;
  box-shadow: 15px 15px  #846b4e;
}

h1 {
  text-align: center;
  font-size: 50px;
}
li {
  margin: 8px auto;
}