body {
  width: 400px;
  margin: auto;
  background-color: lightyellow;
  border: 1px;
  border-style:solid;
  padding: 2%;
}


h1 {
  text-align: center;
}

img.chocolate {
  width: 50%;
  display: block;
  margin: auto;
}
